@import url('https://fonts.googleapis.com/css2?family=Asul&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@1&display=swap'); 

h1 a{
    text-decoration-line: none;
    color: black;
}
img {
    max-width:100%;
    height:auto;
}

#sidebyside{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
#mainOne{
            padding-top: 3em;
            padding-left: 5em;
            padding-right: 2em;
        }
#divmain{
            margin-left: 5em;
        }

.morepadding{
            padding-top: 12em;
            padding-left: 11em;
        }

#h1body{
            border-bottom: 1.5px dashed black;
            padding-left: none;
            margin-left: none;
        }

#picnav{
            border: 1px solid black;
        }

#shoppingnav{
            justify-content: space-between;
        }

.shop{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
        }

#change-image{
            width: 50%;
            height: auto;
        }

.changingText{
            display: flex;
            justify-content: center;
            padding-top: 5px;
        }

.arrival{
            padding-top: 5px;
        }

#newArrivals{
            display: flex;
            justify-content: center;
        }

#arrivals{
    text-align: center;
}

.center{
            text-align: center;
        }

.arrow{
            height: 30px;
            width: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

.centerNavtop{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            border: 1px solid black;
            background-color: lightgray;
    
        }

.centerNavbottom{
            padding-top: 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            border: 1px solid black;
            border-top: none;
            border-bottom: none;
            background-color: lightgray;
        }

.shopNav{
            height: 300px;
            width: 300px;
        }

#form{
            border: 1px solid black;
            padding-top: 5px;
            padding-left: 5px;
            padding-bottom: 5px;
            width: 50%;
            margin-top: 5px;
            display: inline-block;
            border-right: 2px dashed black;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

#initiallyhiddentable{
            display: none;
        }

#initiallyhiddenlist{
            display: none;
        }

.slideshow {
            position: relative;
            height: 500px;
            width: 500px;
        }

.slideshow img {
            position: absolute;
            height: 500px;
            width: 500px;
            border: 1px solid black;
        }

#mainCenter{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
#asideFlex{
            display: flex;
            flex-direction: row;
            font-family: 'Asul', sans-serif;
        }

#shopit{
            padding-bottom: 2px;
        }

.dropdown{
            position: relative;
        }

.insidedropdown{
            display: none;
            position: absolute;
            z-index: 1;
        }

.insidedropdown a:hover{
            background-color: #ddd;
        }

.dropdown:hover .insidedropdown{
            display:block;
        }

#footerContact{
            display: flex;
            flex-direction: row;
            
        }

body{
            background-image: url(img/dust_scratches.png);
            padding: 12px;
            padding-top: none;
     }

#homefigure{
            float: right;
            padding-right: none;
            padding-left: 15px;
            padding-bottom: 15px;
            width: 500px;
        }

#homefigure figcaption{ 
            text-align: center;
        }
.sideImage{
            max-width: 100%;
            height: auto;
}

#wrapper{
            display: flex;
            flex-direction: column;
            font-family: 'Asul', sans-serif;
        }

header {
            width: 100%;
            color: black;
            font-size: 150%;
            padding: auto;
            text-align-last: center;
            border-bottom: 8px solid black;
            font-family: 'IM Fell English', serif;
        }
img:hover{
    filter: grayscale(40%);
}

header:hover{
    background-image: url(img/rainbowswirlcircle.png);
}

nav{
            display:flex;
            justify-content: space-between;
            padding-right: auto;
            padding-left: auto;
            padding-top: 5px;
            padding-bottom: 5px;
    }

#nav a{
            border: 2px solid black;
            text-align: center;
            background-color: black;
            color: white;
            font-size: 150%;
            text-decoration-line: none;
    }

footer{
            display: flex;
            flex-direction: column;
            border: 2px solid black;
            margin-top: 5px;
            padding: 5px;
            font-family: 'Asul', sans-serif;
        }

main{
            border: 2px solid black;  
            
    }

#logolist li, #logolist li a{
            list-style-type: none;
            text-decoration-line: none;
        }

#ALA, #indexform{
            border: 2px solid black;
            padding: 5px;
            width: 50%;
            margin-top: 5px;
            display: inline-block;
        }
#indexform{
            margin-right: 5px;
          }

#alogo{
            display: flex;
            width: auto;
            margin: 0 auto;
      }
.navspacing{
            padding-left: 60px;
            padding-right: 60px;
        }

.formdata{
            display: flex;
         }

#donate{
            text-decoration-line: none;
            color: whitesmoke;
            font-family: 'Asul', sans-serif;
        }

#ImageA{
            padding-left:2em;
            background-image: url(img/inprogressB.JPG);
            background-size: contain;
            background-repeat: no-repeat;
            float: right;
            height: 300px;
            width: 300px;
        }
#ImageA:hover {
        background-image: url(img/purpleblue.png);
        height: 300px;
        width: 300px;
        }
/*tablet*/
@media only screen and (max-width: 1024px) {
            #homefigure{
                display: none;
            }
            #sidebyside{
                display: flex;
                flex-direction: column;
            }
            .morepadding{
                padding-top: 0px;
                padding-left: 0px;
                margin-left: 5em;
            }
            #mainOne{
                padding-left: 0px;
                align-self: flex-start;
                margin-left: 2em;
            }
}
/* mobile */
@media only screen and (max-width: 768px) {
    .navspacing{
                padding-left: 10px;
                padding-right: 10px;
               }
    .goneIMG, #ImageA{
        display: none;
       }
     #ALA, #indexform, aside, #form{
                width: 98%;
            }
    
     #asideFlex{
            display: flex;
            flex-direction: column;
            font-family: 'Asul', sans-serif;
            }
    #change-image{
                width: 250px;
                height: auto;
            }
    
    #arrivals{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
    
    .centerNavtop{
                flex-direction: column;
                align-items: center;
                border-bottom: none;
            }
    
    .centerNavbottom{
                flex-direction: column;
                align-items: center;
            }
    
    .shopNav{
            height: 300px;
            width: 300px;
            border: 1px solid black;
        }
    .changingText{
            display: flex;
            justify-content: flex-end;
            padding-top: 5px;
        }
    #shoppingnav{
            display: none;
        }
    #mainOne{
                padding-left: 0px;
                align-self: center;
                margin-left: 2em;
            }
    .dropdown:hover .insidedropdown{
            display: none;
        }
    .insidedropdown{
        display: none;
    }
}